<section class="flex flex-col gap-8 lg:flex-row items-center lg:py-10" id="hero">
    <div class="w-full lg:w-3/4 flex flex-col gap-6">
        <div
            class="inline-flex items-center gap-2 px-3 py-1 rounded-full bg-primary/10 text-primary text-xs font-bold uppercase tracking-wider w-fit">
            <span class="relative flex h-2 w-2">
                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary opacity-75"></span>
                <span class="relative inline-flex rounded-full h-2 w-2 bg-primary"></span>
            </span>
            Available for new projects
        </div>
        <h1 class="text-slate-900 dark:text-slate-100 text-4xl md:text-6xl font-black leading-tight tracking-tight">
            Computer Systems Engineer &amp; <span class="text-primary">SDET</span>
        </h1>
        <p class="text-slate-600 dark:text-slate-400 text-lg md:text-xl max-w-xl leading-relaxed">
            Building robust software architectures and scalable testing infrastructure with precision and reliability.
            Specializing in CI/CD, software architecture, and high-performance automation.
        </p>
        <div class="flex gap-4">
            <button
                class="flex min-w-[140px] cursor-pointer items-center justify-center rounded-lg h-12 px-6 bg-primary text-white text-base font-bold transition-all hover:scale-105">
                <a href="#projects">View My Work</a>
            </button>
            <button
                class="flex min-w-[140px] cursor-pointer items-center justify-center rounded-lg h-12 px-6 border-2 border-slate-200 dark:border-slate-800 text-slate-700 dark:text-slate-300 text-base font-bold hover:bg-slate-100 dark:hover:bg-slate-800 transition-all">
                <a href="https://www.linkedin.com/in/michelle-cruz-a5255a323" target="_blank" rel="noopener noreferrer">Let's connect</a>
            </button>
        </div>
    </div>
    <div class="w-full lg:w-1/4">
        <div class="aspect-square rounded-2xl bg-slate-200 dark:bg-slate-800 overflow-hidden relative group">
            <img alt="Technical Infrastructure"
                class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
                data-alt="Modern high-tech server room with blue lighting"
                src="https://lh3.googleusercontent.com/aida-public/AB6AXuDt0ku8hhH8y9A6wBglGbxjG7Ga_-Z81z1mJu8ozWmgGFvSmDmpaSz3HrSV-1ZwQXuQ5hrGBuVR8pabeXGNEXRSJJ5-EJRkcLEaX8GfUVmi40pQ5A6qhPeRHUSC9hsO8Ok955M8_AAVsCCHUTM_1eRsAh5HXhuyl5qUWFo6u1OrMPWdRMQ_bHNoyHPSj7Y2xQd0POmMG7TCPipAxKnjrWWuw5MkUCcUs2kdGRxGI6xKGdYT7L-g19fNheS8JlfKvt8SaPuAneJOrDc" />
            <div class="absolute inset-0 bg-gradient-to-t from-primary/40 to-transparent opacity-60"></div>
        </div>
    </div>
</section>